.SectionConfig {
  @include prop-flex-container-center;
  @include prop-transition-all;
  @include sel-amp-pseudoElem-scrollbar;
  @include Start-Main-Section;

  /* Selector */
  > div {
    > div:nth-child(1) {
      //box
      margin-bottom: 20px;
      //flex-container
      display: flex;
      justify-content: space-between;
    }
    > div:nth-child(2) {
      margin-top: 20px;
    }
  }
}
