.SectionConfig {
  @include prop-flex;
  @include prop-transition;
  @include prop-undraggable;
  @include prop-main-section(1.5);
  @include selector-invisible-section;
  @include selector-scrollbar;

  /* Selector */
  > div {
    /* Property */
    letter-spacing: 4px;

    /* Selector */
    > div:nth-child(1) {
      //box
      margin-bottom: 20px;
      //flex-container
      display: flex;
      justify-content: space-between;
    }
    > div:nth-child(2) {
      margin-top: 20px;
    }
  }
}
