@import '@/styles/Mixin';

.Start {
  /* Property */
  //box
  width: 100%;
  height: 100%;
  //flex
  display: flex;
  justify-content: center;
  align-items: center;

  /* Selector */
  > div {
    > .heading {
      /* Property */
      //box
      margin: 50px 0;
      //others
      pointer-events: none;

      /* Selector */
      > .mock {
        //loading effects
        animation: 2s ease-in-out loadEffect1;
        @keyframes loadEffect1 {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        //box
        margin-bottom: 10px;
        //others
        transform: rotate(-10deg);
      }
      > .interview {
        //loading effects
        animation: 4s ease-in-out loadEffect1;
        @keyframes loadEffect1 {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        //box
        margin-left: 50px;
      }
    }
    > .config {
      /* Include */
      @include type2BackgroundColor;

      /* Property */
      //box
      height: 100px;
      width: 100%;
      margin: 50px 0;
      //text
      text-align: center;
      //animation
      transition: all 2s ease-out;

      /* Selector */
      &.onPress {
        height: 0px;
        opacity: 0;
      }
    }
    > .button {
      /* Property */
      //loading effects
      animation: 8s ease-in-out loadEffect1;
      @keyframes loadEffect1 {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      //box
      margin: 50px 0;
      //animation
      transition: all 3s ease-out;
      opacity: 1;
      //flex
      display: flex;
      justify-content: center;
      align-items: center;

      /* Selector */
      &.off {
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}
