.Interview {
  /* Variables */
  $height: 60px;

  /* Property */
  //box
  width: 100%;
  height: 100%;
  //grid
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: $height 1fr $height;
}
