/* Function */
@function size($size) {
  @if ($size == 'xl') {
    @return 1.5;
  } @else if($size == 'l') {
    @return 1;
  } @else if($size == 'm') {
    @return 0.5;
  } @else if($size == 's') {
    @return 0.25;
  } @else if($size == 'xs') {
    @return 0.03;
  }
}

/* Mixin */
@mixin neon($name, $size, $color-start, $color-end) {
  animation: #{$name}#{$size}NeonAnimation 1.5s ease-in-out infinite alternate;

  @keyframes #{$name}#{$size}NeonAnimation {
    from {
      text-shadow:
        0 0 calc(10px * size(#{$size})) $color-start,
        0 0 calc(20px * size(#{$size})) $color-start,
        0 0 calc(30px * size(#{$size})) $color-start,
        0 0 calc(40px * size(#{$size})) $color-end,
        0 0 calc(70px * size(#{$size})) $color-end,
        0 0 calc(80px * size(#{$size})) $color-end,
        0 0 calc(90px * size(#{$size})) $color-end,
        0 0 calc(150px * size(#{$size})) $color-end;
    }
    to {
      text-shadow:
        0 0 calc(5px * size(#{$size})) $color-start,
        0 0 calc(10px * size(#{$size})) $color-start,
        0 0 calc(15px * size(#{$size})) $color-start,
        0 0 calc(20px * size(#{$size})) $color-end,
        0 0 calc(35px * size(#{$size})) $color-end,
        0 0 calc(40px * size(#{$size})) $color-end,
        0 0 calc(50px * size(#{$size})) $color-end,
        0 0 calc(75px * size(#{$size})) $color-end;
    }
  }
}

/* Variables */
$neonColor: (
  redColor: (
    #fff,
    #ff1177,
  ),
  brightOrangeColor: (
    #fff,
    #f8b734,
  ),
  orangeColor: (
    #fff,
    #ff9900,
  ),
  bananaColor: (
    #fff,
    #fceaac,
  ),
  yellowColor: (
    #fff,
    #ffdd1b,
  ),
  greenColor: (
    #fff,
    #b6ff00,
  ),
  skyColor: (
    #fff,
    #b7e7f7,
  ),
  blueColor: (
    #fff,
    #2080e7,
  ),
  violetColor: (
    #fff,
    #e555c7,
  ),
  purpleColor: (
    #fff,
    #ad0096,
  ),
  silverColor: (
    #fff,
    #c4c4c6,
  ),
  whiteColor: (
    #eeeeee,
    #bbbbbb,
  ),
);
$neonSize: ('xl', 'l', 'm', 's', 'xs');

/* Selector */
.CompFontNeon {
  @each $name, $color in $neonColor {
    @each $size in $neonSize {
      &.#{$name}.#{$size} {
        @include neon($name, $size, nth($color, 1), nth($color, 2));
      }
    }
  }
}
