.ButtonMain {
  @include prop-flex;
  @include prop-transition;
  @include prop-main-others;
  @include selector-invisible;

  /* Property */
  //loading effects
  animation: 8s ease-in-out;
  animation-name: loadEffect1, loadEffect2;
  @keyframes loadEffect1 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes loadEffect2 {
    from {
      pointer-events: none;
    }
    to {
      pointer-events: none;
    }
  }
}
