.CompFontNeon {
  &.red {
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  &.blue {
    animation: neon2 1.5s ease-in-out infinite alternate;
  }
  &.yellow {
    animation: neon3 1.5s ease-in-out infinite alternate;
  }
  &.green {
    animation: neon4 1.5s ease-in-out infinite alternate;
  }
  &.orange {
    animation: neon5 1.5s ease-in-out infinite alternate;
  }
  &.violet {
    animation: neon6 1.5s ease-in-out infinite alternate;
  }
  &.white {
    animation: neon7 1.5s ease-in-out infinite alternate;
  }
  &.whiteSmall {
    animation: neon8 1.5s ease-in-out infinite alternate;
  }
}

@keyframes neon1 {
  $color-start: #fff;
  $color-end: #ff1177;

  from {
    text-shadow:
      0 0 10px $color-start,
      0 0 20px $color-start,
      0 0 30px $color-start,
      0 0 40px $color-end,
      0 0 70px $color-end,
      0 0 80px $color-end,
      0 0 100px $color-end,
      0 0 150px $color-end;
  }
  to {
    text-shadow:
      0 0 5px $color-start,
      0 0 10px $color-start,
      0 0 15px $color-start,
      0 0 20px $color-end,
      0 0 35px $color-end,
      0 0 40px $color-end,
      0 0 50px $color-end,
      0 0 75px $color-end;
  }
}
@keyframes neon2 {
  $color-start: #fff;
  $color-end: #2080e7;

  from {
    text-shadow:
      0 0 10px $color-start,
      0 0 20px $color-start,
      0 0 30px $color-start,
      0 0 40px $color-end,
      0 0 70px $color-end,
      0 0 80px $color-end,
      0 0 100px $color-end,
      0 0 150px $color-end;
  }
  to {
    text-shadow:
      0 0 5px $color-start,
      0 0 10px $color-start,
      0 0 15px $color-start,
      0 0 20px $color-end,
      0 0 35px $color-end,
      0 0 40px $color-end,
      0 0 50px $color-end,
      0 0 75px $color-end;
  }
}

@keyframes neon3 {
  $color-start: #fff;
  $color-end: #ffdd1b;

  from {
    text-shadow:
      0 0 10px $color-start,
      0 0 20px $color-start,
      0 0 30px $color-start,
      0 0 40px $color-end,
      0 0 70px $color-end,
      0 0 80px $color-end,
      0 0 100px $color-end,
      0 0 150px $color-end;
  }
  to {
    text-shadow:
      0 0 5px $color-start,
      0 0 10px $color-start,
      0 0 15px $color-start,
      0 0 20px $color-end,
      0 0 35px $color-end,
      0 0 40px $color-end,
      0 0 50px $color-end,
      0 0 75px $color-end;
  }
}

@keyframes neon4 {
  $color-start: #fff;
  $color-end: #b6ff00;

  from {
    text-shadow:
      0 0 10px $color-start,
      0 0 20px $color-start,
      0 0 30px $color-start,
      0 0 40px $color-end,
      0 0 70px $color-end,
      0 0 80px $color-end,
      0 0 100px $color-end,
      0 0 150px $color-end;
  }
  to {
    text-shadow:
      0 0 5px $color-start,
      0 0 10px $color-start,
      0 0 15px $color-start,
      0 0 20px $color-end,
      0 0 35px $color-end,
      0 0 40px $color-end,
      0 0 50px $color-end,
      0 0 75px $color-end;
  }
}

@keyframes neon5 {
  $color-start: #fff;
  $color-end: #ff9900;

  from {
    text-shadow:
      0 0 10px $color-start,
      0 0 20px $color-start,
      0 0 30px $color-start,
      0 0 40px $color-end,
      0 0 70px $color-end,
      0 0 80px $color-end,
      0 0 100px $color-end,
      0 0 150px $color-end;
  }
  to {
    text-shadow:
      0 0 5px $color-start,
      0 0 10px $color-start,
      0 0 15px $color-start,
      0 0 20px $color-end,
      0 0 35px $color-end,
      0 0 40px $color-end,
      0 0 50px $color-end,
      0 0 75px $color-end;
  }
}

@keyframes neon6 {
  $color-start: #fff;
  $color-end: #ad0096;

  from {
    text-shadow:
      0 0 10px $color-start,
      0 0 20px $color-start,
      0 0 30px $color-start,
      0 0 40px $color-end,
      0 0 70px $color-end,
      0 0 80px $color-end,
      0 0 100px $color-end,
      0 0 150px $color-end;
  }
  to {
    text-shadow:
      0 0 5px $color-start,
      0 0 10px $color-start,
      0 0 15px $color-start,
      0 0 20px $color-end,
      0 0 35px $color-end,
      0 0 40px $color-end,
      0 0 50px $color-end,
      0 0 75px $color-end;
  }
}

@keyframes neon7 {
  $color-start: #eeeeee;
  $color-end: #bbbbbb;

  from {
    text-shadow:
      0 0 10px $color-start,
      0 0 20px $color-start,
      0 0 30px $color-start,
      0 0 40px $color-end,
      0 0 70px $color-end,
      0 0 80px $color-end,
      0 0 100px $color-end,
      0 0 150px $color-end;
  }
  to {
    text-shadow:
      0 0 5px $color-start,
      0 0 10px $color-start,
      0 0 15px $color-start,
      0 0 20px $color-end,
      0 0 35px $color-end,
      0 0 40px $color-end,
      0 0 50px $color-end,
      0 0 75px $color-end;
  }
}

@keyframes neon8 {
  $color-start: #eeeeee;
  $color-end: #bbbbbb;

  from {
    text-shadow:
      0 0 2.5px $color-start,
      0 0 5px $color-start,
      0 0 7.5px $color-start,
      0 0 10px $color-end,
      0 0 17.5px $color-end,
      0 0 20px $color-end,
      0 0 25px $color-end,
      0 0 50px $color-end;
  }
  to {
    text-shadow:
      0 0 1.25px $color-start,
      0 0 2.5px $color-start,
      0 0 3.75px $color-start,
      0 0 5px $color-end,
      0 0 8.75px $color-end,
      0 0 10px $color-end,
      0 0 12.5px $color-end,
      0 0 25px $color-end;
  }
}
