.SectionServer {
  @include prop-transition;
  @include prop-main-section;
  @include prop-main-section-bash;
  @include selector-invisible-section;
  @include selector-scrollbar;

  /* Selector */
  &.wide {
    height: 600px;
  }

  > .ref {
    height: calc($main-section-height * 0.75);
  }
}
