.Header {
  /* Property */
  border: 1px solid red;

  grid-column: 1 / 3;
  grid-row: 1 / 2;

  display: flex;
  justify-content: space-between;

  /* Selector */
  > div {
    border: 1px solid gray;

    flex-basis: 100px;
  }
}
