.Footer {
  /* Property */
  //grid-item
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  //flex-container
  display: flex;
  justify-content: space-between;

  /* Selector */
  > div {
    //box
    margin: 10px;
    //flex-item
    flex-basis: 80px;
    //flex-container
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
