/* prop: property */
//flex
@mixin prop-flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
//transition
@mixin prop-transition-all {
  transition: all 2s ease-in-out;
}

/* sel-amp: selector-ampersand */
//class
@mixin sel-amp-class-off {
  &.off {
    //ui
    pointer-events: none;
    opacity: 0;
    //content
    @content;
  }
}
@mixin sel-amp-class-clickDisabled {
  &.clickDisabled {
    pointer-events: none;
  }
}
//pseudoElement
@mixin sel-amp-pseudoElem-scrollbar {
  /* Property */
  overflow-y: auto;

  /* Selector */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* pages */
@mixin Start-Main-Others {
  width: $Start-Main-width;
  margin: $Start-Main-Others-margin;
}
@mixin Start-Main-Section {
  @include sel-amp-class-off {
    height: 0;
    margin: 0 auto;
    padding: 0 $Start-Main-Section-padding;
    border-width: 0 !important;
  }
  //box
  width: $Start-Main-width;
  height: $Start-Main-Section-height;
  margin: $Start-Main-Section-margin auto;
  padding: $Start-Main-Section-padding;
  //text
  line-height: 1.5;
}
@mixin Start-Main-Section-Bash {
  @include Start-Main-Section;
  //background
  background-color: $color-background-dark;
  //text
  font-family: $font-ngc;
  white-space: pre-line;
}
