/* number */
$number-letter-spacing: 4px;

/* color */
$color-text: white;
$color-text-inversion: darken(#252b37, 4%);
$color-background: repeating-linear-gradient(135deg, #202020 0%, #2b2b2b 10%, #202020 0%, #222222 50%);
$color-background-dark: darken(#202020, 7%);

/* string */
$font-ngc: (Nanum Gothic Coding);

/* pages */
//pages: Start-grid
$Start-grid-width: 80px;
$Start-grid-height: 80px;
//pages: Start-Main
$Start-Main-width: 620px;
//pages: Start-Main-Others
$Start-Main-Others-margin: 20px auto;
//pages: Start-Main-Section
$Start-Main-Section-height: max(150px, 20vh);
$Start-Main-Section-margin: 40px;
$Start-Main-Section-padding: 40px;
