/* color */
$color-text: white;
$color-text-inversion: darken(#252b37, 4%);
$color-background: repeating-linear-gradient(135deg, #202020 0%, #2b2b2b 10%, #202020 0%, #222222 50%);
$color-background-dark: darken(#202020, 7%);

/* string */
$font-ngc: (Nanum Gothic Coding);

/* number */
$grid-width: 80px;
$grid-height: 80px;
$main-section-width: 620px;
$main-section-height: max(150px, 20vh);
$main-section-padding: 40px;
