header.HeaderL {
  /* Property */
  //transition
  transition: all 3s ease-out;
  //grid-item
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  //flex-container
  display: flex;
  justify-content: center;
  align-items: center;

  /* Selector */
  &.off {
    pointer-events: none;
    opacity: 0;
  }
}
