main.Main {
  /* Properties */
  //visual
  overflow-x: scroll;
  overflow-y: visible;
  //grid-item
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  //flex-container
  display: flex;
  justify-content: center;
  align-items: center;

  /* Selector */
  &::-webkit-scrollbar {
    display: none;
  }
  > div {
    > .config {
      /* Property */
      //box
      height: 500px;
      width: 100%;
      margin: 50px 0;
      //text
      text-align: center;
      //animation
      transition: all 2s ease-in-out;

      /* Selector */
      &.onPress {
        height: 0px;
        opacity: 0;
      }
    }
  }
}
