.Heading {
  @include prop-transition;
  @include prop-main-others;
  @include selector-invisible;

  /* Property */
  //visual
  position: sticky;
  top: 0;
  z-index: 100;
  //ui
  pointer-events: none;

  /* Selector */
  > .mock {
    //box
    margin-bottom: 15px;
    margin-left: 0px;
    //others
    transform: rotate(-10deg);
    //loading effects
    animation: 2s ease-in-out loadEffect1;
    @keyframes loadEffect1 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  > .interview {
    //box
    margin-left: 30px;
    //text
    text-align: center;
    //loading effects
    animation: 4s ease-in-out loadEffect1;
    @keyframes loadEffect1 {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
