.ButtonCount {
  /* Property */
  margin: 0 20px;
  display: flex;

  /* Selector */
  &.off {
    color: $color-text-inversion;
  }
  > label {
    /* Property */
    cursor: pointer;
    //flex-container
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* Selector */
    > input[type='button'] {
      display: none;
    }
  }
}
